{% load static %}
<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" type="text/css" href="{% static 'Accounts/css/styles.css' %}"/>

    <title>SomesaAi </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    

</head>

<body >
<div class="login">
<h1>Welcome to OTIC</h1>
<h1>Login</h1>
<form>
    <label>User name</label>
    <input type="text" name="name" />
    <label>Password</label>
    <input type="text" name="password">
    <input type="checkbox"/>
    <h1>Remember Me <span>Forgot Pssword?</span></h1> 
    <br/>
    <button>Login</button>
</form>
</div>
</body>

</html>