{% load static %}
<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" type="text/css" href="{% static 'Accounts/css/styles.css' %}"/>
    <title>SomesaAi </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    

</head>

<body>
<div>
<nav style="background: white; height: 4em; color: black; text-align: center; font-size: larger;">Student Dashboard to Access Course Notes</nav>
<div style="background: #38434C; width: 13em; margin-top: -1.2em; height: 100vh;">
    <ul style="list-style: none; color: white; display: flex; flex-direction: column; gap: 2rem;">
        <li >Home</li>
        <li style="background: linear-gradient(90deg, rgba(255, 255, 255, 0.88) 0%, rgba(255, 255, 255, 0.00) 100%);width: 7em;height: 2em;flex-shrink: 0;">Resources</li>
        <li>chatbot</li>
        <li>Account</li>
        <li>Settings</li>
    </ul>
</div>
<div style="background: url('/static/images/image1.jpg');height: 3em; width: 70%; margin-left: 16em; margin-top: -34em; border-radius: 10px; height: 8em;">
<h1 style="color: #ffff;">Welcome back, Nesta katende</h1>
<ul style="list-style: none; color: white; display: flex; flex-direction: column; gap: 0.4rem;">
    <li>Course:Computer Science</li>
    <li>Email: username@gmail.com</li>
    <li>Year: Year 1</li>
</ul>
</div>
</div>
<div style="background: white; width: 30%; margin-left: 15em; height: 17em; border-radius: 5px;">
    <h1>Recent</h1>
    <ul style="list-style: none;">
        <li>Course Note A <span style="margin-left: -15em;">04 may, 09:20AM</span></li>
        <hr/>
        <li>Course Note B <span style="margin-left: -15em;">04 may, 09:20AM</span></li>
        <hr/>
        <li>Course Note C <span style="margin-left: -15em;">04 may, 09:20AM</span></li>
    </ul>
</div>
<div style="background: white; margin-top: -17em; height: 100%; width: 50%; margin-left: 38em; border-radius: 5px;">
    <input style="border-radius: 4px; margin-left: 5em; margin-top: 1em; border-color: gray; height: 2.5em; width: 45%;" placeholder="Search course notes, pamphlets....."/></button>
    <div style="display: flex;">
    <div style="border-radius: 4px;  border: 5px solid gray; width: 40%; margin-top: 1em; margin-left: 2em;">
        <p style="margin-left: 2px";>
        In today’s dynamic IT environment with increased 
        global competition, enterprises must achieve greater
        business agility and decrease the TCO (Total Cost of
        Ownership) of their system for service. As the need for
        innovative software circulation process emerges, SaaS
       </p>
       <h1>Course Note D</h1>
       <h2>In today’s dynamic IT environment</h2>
       <button style="background-color: blue; border-radius: 5px; border: none; height: 2em; width: 4.5em; margin-bottom: 2em; color: white;">Share</button>
    </div>
    <div style="border-radius: 4px;  border: 5px solid gray; width: 40%; margin-top: 1em; margin-left: 2em;">
        <p style="margin-left: 2px";>
        In today’s dynamic IT environment with increased 
        global competition, enterprises must achieve greater
        business agility and decrease the TCO (Total Cost of
        Ownership) of their system for service. As the need for
        innovative software circulation process emerges, SaaS
       </p>
       <h1>Course Note E</h1>
       <h2>In today’s dynamic IT environment</h2>
       <button style="background-color: blue; border-radius: 5px; border: none; height: 2em; width: 4.5em; margin-bottom: 2em; color: white;">Share</button>
    </div>
    </div>
</div>
</body>

</html>