{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>SomesaAi </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <style type="text/css">
body{
    background-image: url('/static/images/landing.png');
    height: 100vh;
    margin-top: 0px;
    background-repeat: no-repeat;
    background-size:35em;
}
    </style>
</head>
<body >
<div >
    <nav>
        <ul style="list-style: none; display: flex; gap: 1rem; color: #000;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;">
            <li>Home</li>
            <li>About</li>
            <li>Dashboard</li>
        </ul>
    </nav>
    <h1 style="max-width: 695px; flex-shrink: 0; color: rgba(0, 0, 0, 0.69);
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 84px;" >Unlock Your Academic Success with <span style="color: #FAA51A;
font-family: Poppins;
font-size: 60px;
font-style: normal;
font-weight: 600;
line-height: 84px;">SomesaAi</span></h1>
    <h2 style="
    max-width: 695px;
    flex-shrink: 0;
    color: rgba(0, 0, 0, 0.96);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.8px;">Our platform grants you seamless access to a treasure trove of course notes and pamphlets all crafted to elevate your learning journey</h2>
    <div style="display: flex;  gap: 1rem;">
    <button style="background: blue; height: 3em; width: 8em; border-radius: 8px; border: none; color: white; ">Sign in</button>
    <button style="background: blue; height: 3em; width: 8em; border-radius: 8px; border: none; color: white; ">Log in</button>
    </div>
</div >
<div >
<h1 style="text-align: center;">Featured Course Resource</h1>
<div style="text-align: center; ">
    <input type="text" placeholder="Search Resource" style="height: 1em; width: 20em; padding: 5px;" /><button style="padding: 5px; background: blue; color: white;"><i  class="fas fa-search fa-1x"></i></button>
</div>
<h1 style="text-align: center;">Testimonials</h1>
<h1 style="text-align: center;">Subscribe For Newsletters</h1>
<div style="text-align: center; ">
<input type="text" placeholder="Enter Email Address" style="height: 1em; width: 20em; padding: 5px;" /><button style="padding: 5px; background: blue; color: white;">Subscribe</button>
</div>
</div>
<footer style="background: #F5FAFF;">
    <div style="display: flex; justify-content: space-between;">
        <ul>
            <h1 style="color: #FAA51A">OTIC</h1>
            <li style="max-width: 230px; list-style: none;">Our platform grants you seamless access to a treasure trove of course notes and pamphlets all crafted to elevate your learning journey</li>
        </ul>
       
        <ul>
            <h1>Useful Links</h1>
            <li>Home</li>
            <li>About Us</li>
            <li>Dashboard</li>
        </ul>
        <ul>
            <h1>Resources</h1>
            <li>Course notes</li>
            <li>Pamphlets</li>
            </ul>
    </div>
</footer>
</body>
</html>
