{% load static %}
<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" type="text/css" href="{% static 'Accounts/css/styles.css' %}"/>
    <title>SomesaAi </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    

</head>

<body >
<div class="login">
<h1>Welcome to OTIC</h1>
<h1>Login</h1>
<form>
    <span style="transform: translateX(12.5em) translateY(7px); background: #fff; width: 5em;">User name</span>
    <input type="text" name="name" />
    <span style="transform: translateX(12.5em) translateY(7px); background: #fff; width: 5em;">Password</span>
    <input type="text" name="password">
    <input style="height: 20px; margin-top: 10px; margin-left: 0px;" type="checkbox"/>
    <h2>Remember Me <span style="margin-left: 2px;">Forgot Password?</span></h2> 
    <br/>
    <button>Login</button>
    <button style="background: white; margin-top: 5px; color: black;">Continue with Google</button>
</form>
</div>
</body>

</html>