<!DOCTYPE html>
<html>

<head>
    <title>SomesaAi </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <style type="text/css">
    </style>
</head>
<body >
    <div style="display: flex; flex-direction: column;">
        <p>pricing plans</p>
    <button style="background: #f1aa51; height: 4em; border: none; width: 60%; margin: auto; margin-top: 3em;">
        1 hour
        <select style="background: #f1aa51;  border: none;">
            <option style="display: none; border: none;"></option>
        </select>
    </button>
</br>
    <button style="background: #f1aa51; height: 4em; border: none; width: 60%; margin: auto;">
        1 Day
        <select style="background: #f1aa51;  border: none;" >
            <option>price</option>
            <option>price</option>
            <option>price</option>
        </select>
    </button>
</br>
    <button style="background: #f1aa51; height: 4em; border: none; width: 60%; margin: auto;">
        7 Days
        <select style="background: #f1aa51;  border: none;">
            <option>price</option>
        </select>
    </button>
</br>
    <button style="background: #f1aa51; height: 4em; border: none; width: 60%; margin: auto;">
        30 Days
        <select style="background: #f1aa51;  border: none;">
            <option>price</option>
        </select>
    </button>
</div>
</body>
</html>