<div style="background: white; width: 53em; margin-left: 16em; height: 50em;">
    <button style="background: url('/static/images/profile1.jpg');  margin-top: 2em; width: 100%; height: 10em;flex-shrink: 0;"><img style="display: flex; margin-top: 8em; height: 70px; width: 70px; border-radius: 35px;" src="/static/images/profile.png"></button>
    <form>
        <label>Name</label>
        <input  style="height: 2em; width: 50%;" type="text">
        <label>Email</label>
        <input style="height: 2em; width: 50%;" type="text">
        <label>Course</label>
        <input style="height: 2em; width: 50%;" type="text">
        <label>University Collage</label>
        <input style="height: 2em; width: 50%;" type="text">
        <label>Year of Study</label>
        <input style="height: 2em; width: 50%;" type="text">
        <label>School</label>
        <input style="height: 2em; width: 50%;" type="text">
        <button style="background: blue; border-radius: 5px; width: 7em; height: 3em; margin-top: 2em; ">Save</button>
    </form>
</div>