<div style="background: white; width: 30%; margin-left: 15em; margin-top: 1em; height: 17em; border-radius: 5px;">
    <div style="display: flex; gap: 1rem; margin-left: 1em;">
    <h1>Resources</h1> <h1 style="color: blue;">See All</h1>
    </div>
    <ul style="list-style: none;">
        <hr/>
        <li>Course Note A <span style="margin-left: -15em;">04 may, 09:20AM</span></li>
        <hr/>
        <li>Course Note B <span style="margin-left: -15em;">04 may, 09:20AM</span></li>
        <hr/>
        <li>Course Note C <span style="margin-left: -15em;">04 may, 09:20AM</span></li>
        <hr/>
    </ul>
 </div>
 <div style="background: white; margin-top: -17em; height: 17em; width: 50%; margin-top: -18.5em; margin-left: 38em; border-radius: 5px;">
<h1>Activity</h1>
</div>
<div style="display: flex; justify-content: flex-end; margin-left: 2em;">
    <div style="border-radius: 4px;  border: 5px solid gray; width: 40%; margin-top: 1em; margin-left: 2em; background: white;">
        <h1>Resource study</h1>
        <canvas id="barGraph" width="400" height="300" ></canvas>
    </div>
    <div style="border-radius: 4px;  border: 5px solid gray; width: 40%; margin-top: 1em; margin-left: 2em; background: white;">
        <h1>Coursework Progress</h1>
        <ul style="list-style: none;">
            <hr/>
            <li>Course Note A <span style="margin-left: -15em;">04 may, 09:20AM</span></li>
            <hr/>
            <li>Course Note B <span style="margin-left: -15em;">04 may, 09:20AM</span></li>
            <hr/>
            <li>Course Note C <span style="margin-left: -15em;">04 may, 09:20AM</span></li>
            <hr/>
        </ul>
    </div>
</div>
