<div style="background: white; width: 30%; margin-left: 15em; margin-top: 1em; height: 17em; border-radius: 5px;">
    <div style="display: flex; gap: 1rem; margin-left: 1em;">
    <h1>Resources</h1> <h1 style="color: blue;">See All</h1>
    </div>
    <ul style="list-style: none;">
        <hr/>
        <li>Course Note A <span style="margin-left: -15em;">04 may, 09:20AM</span></li>
        <hr/>
        <li>Course Note B <span style="margin-left: -15em;">04 may, 09:20AM</span></li>
        <hr/>
        <li>Course Note C <span style="margin-left: -15em;">04 may, 09:20AM</span></li>
        <hr/>
    </ul>
 </div>
 <div style="background: white; margin-top: -17em; height: 17em; width: 50%; margin-top: -18.5em; margin-left: 38em; border-radius: 5px;">
<h1>Activity</h1>
</div>
<div style="display: flex; justify-content: flex-end; margin-left: 2em;">
    <div style="border-radius: 4px;  border: 5px solid gray; width: 40%; margin-top: 1em; margin-left: 2em; background: white;">
        <h1>Resource study</h1>
        <canvas id="barGraph" width="400" height="300" ></canvas>
    </div>
    <div style="border-radius: 4px;  border: 5px solid gray; width: 40%; margin-top: 1em; margin-left: 2em; background: white;">
        <h1>Coursework Progress</h1>
        <ul style="list-style: none;">
            <hr/>
            <li>Course Note A <span style="margin-left: -15em;">04 may, 09:20AM</span></li>
            <hr/>
            <li>Course Note B <span style="margin-left: -15em;">04 may, 09:20AM</span></li>
            <hr/>
            <li>Course Note C <span style="margin-left: -15em;">04 may, 09:20AM</span></li>
            <hr/>
        </ul>
    </div>
</div>


{'event': 'charge.completed', 'data': {'id': 1108749503, 'tx_ref': 'somesaAI-2023-10-23-14-00-38.706569', 'flw_ref': 'FILZ72271698069698216300339', 'device_fingerprint': 'ae79a2802f0ce5f63cb6166bc4990c4a', 'amount': 100, 'currency': 'UGX', 'charged_amount': 100, 'app_fee': 3, 'merchant_fee': 0, 'processor_response': 'Request successfully processed', 'auth_model': 'MOBILEMONEY', 'ip': '41.75.176.152', 'narration': 'Otic Technologies Limited ', 'status': 'successful', 'payment_type': 'mobilemoneyug', 'created_at': '2023-10-23T14:01:37.000Z', 'account_id': 2790394, 'customer': {'id': 701241550, 'name': 'mugumbya benon', 'phone_number': '256776811468', 'email': 'legacyallan0@gmail.com', 'created_at': '2023-10-23T11:54:04.000Z'}}, 'event.type': 'MOBILEMONEYUG_TRANSACTION'} <class 'dict'>