{% load static %}
<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" type="text/css" href="{% static 'Accounts/css/styles.css' %}"/>

    <title>SomesaAi </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    

</head>

<body >
    <div style="background: white; width: 50%; margin: auto;">
<h1>Sign UP</h1>
<p style=" display: flex; justify-content: center;">Enter details to create your account</p>
<form>
    <span style="transform: translateX(11em) translateY(7px); background: #fff; width: 5em;">First Name</span>
    <input type="text" name="name"/>

    <span style="transform: translateX(11em) translateY(7px); background: #fff; width: 5em;">University</span>
    <select style="width: 50%; height: 3.5em; margin: auto; color: gray;">
        <option>Makerere University</option>
        <option>Kyambogo University</option>
        <option>Mbarara University</option>
    </select>
   
    <span style="transform: translateX(11em) translateY(7px); background: #fff; width: 5em;">Course</span>
    <select style="width: 50%; height: 3.5em; margin: auto; color: gray;">
        <option>Computer Science</option>
        <option>Social Sciences</option>
        <option>Mechanical Engineering</option>
    </select>

    <span style="transform: translateX(11em) translateY(7px); background: #fff; width: 6em;">Year of Study</span>
    <select style="width: 50%; height: 3.5em; margin: auto; color: gray;">
        <option>YEAR 1</option>
        <option>YEAR 2</option>
        <option>YEAR 3</option>
        <option>YEAR 4</option>
    </select>
    
    <span style="transform: translateX(11em) translateY(7px); background: #fff; width: 5em;">Semester</span>
    <select style="width: 50%; height: 3.5em; margin: auto; color: gray;">
        <option>I</option>
        <option>II</option>
    </select>
    <span style="transform: translateX(11em) translateY(7px); background: #fff; width: 5em;">Password</span>
    <input type="text" name="password"/>
    <br/>
    <button style="border-radius: 5px;">Sign Up</button>
</form>
</div>
</body>

</html>